.sub_sec1{width: 100%;height: 100vh;}
.menu_text{color: black !important;}
header::after{background-color: black;}
header::before{background-color: black;}
.logo{height: 120px;}
.menubk{opacity: 1;}
.logoa{
    width: 150px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.sub_sec1 > article{

    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}
.sub_sec1_left,
.sub_sec1_right{
    width: 50%;
    height: calc(100% - 80px);
    position: absolute;
    bottom: 0;
}
.sub_sec1_right{right: 0;}
.sub_sec1_left{
    background-image: url(../semicolon_img/sub_img.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}
.sub_sec1_logo{
    border-bottom: 2px solid black;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 5%;
}
.sub_sec1_logo > img{
    width: 80%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50% , -50%);
}
.sub_text_con{
    height: 60%;
    width: 100%;
    top: 25%;
    padding-left: 50px;
    position: absolute;
}
.sub_text_con > span > p{
    line-height: 50px;
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.sub_sec2{
    width: 100%;
    height: 100vh;
}

.sec4_right{
    background-image: none;
}
.sub_sec2_rightT,
.sub_sec2_rightB{
    width: 100%;
    height: 50%;
    position: relative;
}
.sub_sec2_rightT > iframe{
    width: 80%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.sub_sec2_rightB>span{
    width: 100%;
    height: 70%;
    position: absolute;
}
.sub_sec2_rightB>span > p{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.sub_sec2_rightB>span > p:nth-of-type(1){
    top: 0;
    font-weight: bold;
}
.sub_sec2_rightB>span > p:nth-child(2){
    bottom: 0;
}

@media(max-width:600px){
    .sub_sec1 > article{
        max-width: none;
    }
    .sub_sec1_left{
        top: 80px ;
    }
    .sub_sec1_left,
    .sub_sec1_right{
        width: 100%;
        height: calc(50% - 40px);
    }



    .sub_text_con{
        height: 60%;
        width: 100%;
        top: 35%;
        padding-left: 0;
        position: absolute;
    
    }
    .sub_text_con > span > p{
        line-height: 50px;
        font-size: 1.2rem;
        font-family: 'Noto Sans KR', sans-serif;
        text-align: center;
        font-weight: bold;
    }
 
    .sub_text_con > span > p .brnone{
        display: none;
    }
    .sub_sec2_right{
        width: 100%;
        height: 50%;
        position: static;
        order: 1;
    }
    .sec4 > article{
        display: flex;
        flex-direction: column;
        height: 150%;
    }
    .sec4_left{
       position: static;
       order: 2;
    }
    .sub_sec2_rightB>span > p{
        line-height: 40px;
        position: static;
        left: 0;
        transform: translateX(0);

    }
    .sub_sec2_rightB span{
        display: flex;
        position: static;
        height: 100%;
        flex-direction: column;
    }
    .sub_sec2_rightB span p{
        /* border: 1px solid red; */
        position: static;
        white-space: nowrap;
        width: 100%;
    }
    .sub_sec2_rightB span p:nth-child(1){
        height: 100%;
        line-height: 20px;
        

    }
    .sub_sec2_rightB span p:nth-child(2){
        line-height: 28px;

    }
}