@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('http://fonts.cdnfonts.com/css/bankgothic-lt-bt');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Noto+Sans+KR&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Noto+Sans+KR&display=swap');

* {box-sizing: border-box;}
a {text-decoration: none;color: black;}

/* 헤더영역 */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    transition: 1s;
    top: 0;
    z-index: 100;
}
/* 헤더 스크롤 이벤트 */
header.nav-down {
    background-color: transparent;
    color: transparent;
}
.nav-up {
    top: -90px;
    background-color: transparent;
    color: transparent;
}
/* 헤더 스크롤 이벤트 */
header::after {
    content: "";
    height: 3px;
    width: calc(50% - 70px);
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}
header::before {
    content: "";
    height: 3px;
    width: calc(50% - 70px);
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}
.gnb {
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: auto;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10000;
}
.menu,
.menu_text {
    position: fixed;
    transition: .8s;
    z-index: 10000;
}
.menu {
    width: 45px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.logo {
    height: 120px;
    position: absolute;
    left: 50%;
    top: -10px;
    transition: 1s;
    transform: translate(-50%);
}

 /* 섹션 3,4번 도달시 검은색으로 변경  */
.menubk {
    opacity: 0; 
}
.menubk.on {
    opacity: 1;
}
/* ---------------------------------- */
.gnb>p {
    color: white;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}
/* MENU SCREEN */
.menu_screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #f1f1ef;
    z-index: 10000;
    left: -150%;
    top: 0;
    transition: .3s;
    opacity: 3;
}
.menu_screen.on {
    left: 0; /* 메뉴 텍스트 클릭시 .on 이동 */
}
.container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}
.left {
    width: 30%;
    height: 100%;
}
.main_menu_con {
    width: 100%;
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.main_menu_con>a {
    position: relative;
    width: 100%;
    height: 90px;
    color: black;
    text-decoration: none;
    padding-left: 20px;
    line-height: 90px;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
}
.main_menu_con>a>img {
    width: 25px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 20px;
    opacity: 0;
    transition: opacity .3s;
}

.main_menu_con>a:hover{color: white;}
.main_menu_con>a:hover img{opacity: 1;}

#menu_img.about,
#menu_img.product,
#menu_img.glasses,
#menu_img.sunglasses,
#menu_img.acc,
#menu_img.magazine {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* 타이틀로 연동 .main_menu_con>a 에 title 건들지 말것*/
}

/*---------------------------- 메뉴 텍스트 hover시 보여지는 이미지----------------------- */
#menu_img.about {background-image: url("../semicolon_img/abouthover.png");}
#menu_img.product{background-image: url("../semicolon_img/producthover.png");}
#menu_img.glasses{background-image: url("../semicolon_img/ellicGlasses_hover.png");}
#menu_img.sunglasses {background-image: url("../semicolon_img/biboSunglasses_hover.png");}
#menu_img.acc {background-image: url("../semicolon_img/ACChover.png");}
#menu_img.magazine{background-image: url("../semicolon_img/magazinehover.png");}
/* ------------------------------------------------------------------------------------------- */
.right {
    height: 100vh;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
}
#menu_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    max-width: 500px;
    max-height: 800px;
    height: 80%;
    width: 50%;
    transition: .5s;
    color: transparent;
}
.close {
    text-align: center;
    line-height: 90px;
    width: auto;
    height: 90px;
    position: absolute;
    top: 10%;
    left: 5%;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 100; /*반응형 변경시 z-index필요*/
}
.close>img {
    height: 25px;
    top: 0;
    cursor: pointer;
}
.sub {
    height: 100%;
    width: calc(100% - 550px);
    min-width: 120px;
    position: absolute;
    right: 0;
}
.sub div {
    height: 15%;
    width: 100%;
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub div span {
    text-align: center;
    height: calc(100% / 3);
    display: flex;
    align-items: flex-end;
}

.sub div span a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Barlow', sans-serif;
    flex-grow: 1;
    flex-basis: 0;
}

.sub div span a::after {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 0;
    width: 0;
    background-color: #888;
    transition: .3s;
}

.sub div span a:hover {
    font-weight: bold;
}

.sub div span a:hover::after {
    height: 3px;
    width: 90%;
}
/*----------------------------------------- MENU SCREEN ---------------------------------*/
/*------------------------------------------- 헤더영역----------------------------------- */

/* SECTION1 , 2 */
.sec1,
.sec2 {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.sec1_mobile_left,
.sec1_mobile_right,
.sec2_mobile_left,
.sec2_mobile_right {
    display: none;
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
/*반응형 변경시 backgoud-image에서 html img 태그로 변경(좌,우 배치 -> 상,하 배치)*/
.sec1 {
    overflow: hidden !important;
    background-image: url(../semicolon_img/main_banner1.png);
}
.sec2 {
    background-image: url(../semicolon_img/main_banner2.png);
}
.sec1_text_con,
.sec2_text_con {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 30%;
    bottom: 5%;
    transition: 1s;
    opacity: 0; /*scroll event*/
}
.sec2_text_con {
    transition: 2s;
}
.bg_con {
    overflow: hidden;
    width: 50%;
    height: 100vh;
    z-index: -1;
    position: absolute;
}
.bg_con_left {
    left: 0;
}
.sec1>article,
.sec2>article {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    position: relative;
}
.sec1_text,
.sec2_text {
    color: white;
    font-size: 3rem;
    margin: 50px 0;
    font-family: 'BankGothic Lt BT', sans-serif;
    text-align: center;
    letter-spacing: 10px;
}
.sec1_text1,
.sec2_text1 {
    bottom: 30%;
}
.sec1_text2,
.sec2_text2 {
    bottom: 15%;
}
.sec2>.bg_con_right {
    bottom: 0;
    right: 0;
}
/* SECTION3 */
.sec3 {
    width: 100%;
    height: 100vh;
}
.sec3>article {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}
.sec3>article h1 {
    position: absolute;
    font-size: 2.5rem;
    font-family: 'Barlow', sans-serif;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
.sec3_left {
    width: 45%;
    height: 100%;
    position: relative;
}
.sec3_right {
    width: 55%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.slide_con {
    width: 80%;
    height: 20%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.prd_con {
    width: 133.3333333333333333333%;
    height: 100%;
    display: flex;
    position: absolute;
}
.prd_con>li {
    width: calc(100% / 4);
    height: 100%;
}
.prd_con>li>img {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .5s;
}
.color_con {
    position: absolute;
    right: 10%;
    bottom: 40%;
    width: 20%;
    height: auto;
    display: flex;
    opacity: 0;
    justify-content: space-between;
}
.color img{width: 100%;}
.color{height: 100%;}
.color_con4{width: 15% !important;/*color_con4만 3개로 width값 따로지정*/}
.color_con4>div {width: calc(100% / 3 - 5px) !important;/*color_con4만 3개로 여백값 따로지정*/}
.color_con>div {
    width: calc(100% / 4 - 5px);
    height: calc(100% - 10px);
    cursor: pointer;
}
.list_con {
    width: 90%;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    display: flex;
}
.list_con>li {
    width: calc(100% / 4);
    height: 100%;
    cursor: pointer;
    /* border: 1px solid #999; */
    position: relative;
}

.list_con>li>img {
    width: 100%;
    transition: .3s;
}
.drag-img {
    opacity: 0;
    transition: opacity .5s;
}
.drag-img.on {
    opacity: 1;
}
.slide_con {
    opacity: 0;
    transition: opacity .5s;
}
.slide_con.on {
    opacity: 1;
}
.prd_img1_1.on,
.prd_img1_2.on,
.prd_img1_3.on,
.prd_img1_4.on {
    width: 100%;
}
.color_con.on {
    z-index: 1; /*color_con .on 붙었을시 맨위로 이동/건들지말것* */
    opacity: 1;
}
.list_con>li:hover span,
.ren.on,
.elc.on,
.bib.on,
.prs.on {
    opacity: 1;
}
.rento_btn:hover,
.rento_btn.on {
    background-color: rgba(0, 0, 0, 0.5);
}
.list_con li span {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    width: 100%;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    transition: .3s;
}
.elic_btn:hover,
.elic_btn.on {
    background-color: rgba(0, 0, 0, 0.5);
}
.bibo_btn:hover,
.bibo_btn.on {
    background-color: rgba(0, 0, 0, 0.5);
}
.parsel_btn:hover,
.parsel_btn.on {
    background-color: rgba(0, 0, 0, 0.5);
}
.drag-bar img {
    margin: -1vw 0 0 0;
    height: 71vh !important;
    max-width: none;

  }
/* SECTION3 */
/* SECTION4 */
.sec4 {
    width: 100%;
    height: 100vh;
}
.sec4>article {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}
.sec4_left,
.sec4_right,
.sub_sec2_right {
    width: 50%;
    height: 100%;
    max-height: calc(100% - 80px); /*헤더부분 여백 값 - */
    position: absolute;
    bottom: 0;
}
.sec4_left_bottom {
    padding-top: 30px;
}
.sec4_right,
.sub_sec2_right {
    right: 0;
}
.text_1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}
.ft_text_con {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sns_con {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.sns_con a {
    width: calc(100% / 3);
    height: 100%;
}
.sns_con a img {height: 100%;}
.ft_text_con>p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
}
.sec4_left_top,
.sec4_left_bottom {
    width: 100%;
    height: 50%;
    position: relative;
}
/* 4번 섹션에 SNS IMG 위치 */
.sec4_left_top>div:nth-child(1){top: 9%;left: 5%;}
.sec4_left_top>div:nth-child(2){top: 5%;left: 25%;}
.sec4_left_top>div:nth-child(3){top: 7%;left: 45%;}
.sec4_left_top>div:nth-child(4){top: 3%;left: 65%;}
.sec4_left_top>div:nth-child(5){top: 10%;left: 85%;}
.sec4_left_top>div:nth-child(6){top: 35%;left: 0;}
.sec4_left_top>div:nth-child(7){top: 27%;left: 20%;}
.sec4_left_top>div:nth-child(8){top: 33%;left: 40%;}
.sec4_left_top>div:nth-child(9){top: 28%;left: 60%;}
.sec4_left_top>div:nth-child(10){top: 40%;left: 80%;}
.sec4_left_top>div:nth-child(11){top: 60%;left: 5%;}
.sec4_left_top>div:nth-child(12){top: 50%;left: 25%;}
.sec4_left_top>div:nth-child(13){top: 55%;left: 45%;}
.sec4_left_top>div:nth-child(14){top: 57%;left: 65%;}
.sec4_left_top>div:nth-child(15){bottom: 10%;left: 20%;}
.sec4_left_top>div:nth-child(16){bottom: 9%;left: 40%;}
.sec4_left_top>div:nth-child(17){bottom: 8%;right: 23%;}
.sec4_left_top>div:nth-child(18){bottom: 18%;right: 1%;}
.hd { /*img 크기 다른것만 지정하여 height값 기준으로 크기 설정*/
    height: 100% !important;
}
/*------------------------------- 4번 섹션에 SNS IMG 위치 --------------------------*/
/* 4번 섹션에 위치시 애니메이션 작동 */
.sec4_left_top>div:nth-child(1).on,
.sec4_left_top>div:nth-child(5).on,
.sec4_left_top>div:nth-child(9).on,
.sec4_left_top>div:nth-child(13).on,
.sec4_left_top>div:nth-child(17).on {
    animation: ani1 1s both;
    animation-delay: .5s;
}
.sec4_left_top>div:nth-child(2).on,
.sec4_left_top>div:nth-child(6).on,
.sec4_left_top>div:nth-child(10).on,
.sec4_left_top>div:nth-child(14).on,
.sec4_left_top>div:nth-child(18).on {
    animation: ani1 1.5s both;
    animation-delay: .5s;
}
.sec4_left_top>div:nth-child(3).on,
.sec4_left_top>div:nth-child(7).on,
.sec4_left_top>div:nth-child(11).on,
.sec4_left_top>div:nth-child(15).on {
    animation: ani1 2s both;
    animation-delay: .5s;
}
.sec4_left_top>div:nth-child(4).on,
.sec4_left_top>div:nth-child(8).on,
.sec4_left_top>div:nth-child(12).on,
.sec4_left_top>div:nth-child(16).on {
    animation: ani1 2.5s both;
    animation-delay: .5s;
}
/*--------------------------------- 4번 섹션에 위치시 애니메이션 작동 ---------------------*/
@keyframes ani1 {
    100% {
        opacity: 1;
        margin-top: -10px;
    }
}
.sec4_left_top>div {
    width: 10%;
    height: auto;
    position: absolute;
    opacity: 0;
}
.more_con {
    border: 2px solid #999;
    width: 100% !important;
    height: 30px !important;
    position: absolute !important;
    bottom: 0 !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    opacity: 1 !important;
}

.sec4_left_top>div>img {
    width: 100%;
}
.sec4_right {
    background-image: url(../semicolon_img/footer_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*------------------------------------------- SECTION4 ------------------------------------*/

/*--------------------------------------------- 모바일 버전----------------------------------- */

@media(max-width:600px) {
    html{font-size: 50%;}
    .sub {height: 20%;width: calc(100%);}    
    .sub div{
        height: calc(100% - 80px);
        top: 100%;
        transform: translateY(-100%);    
    }
    .sec1,
    .sec2 {background-image: none;
    }
    #menu_img {width: 100%;}
    .sec1_mobile_left,
    .sec1_mobile_right,
    .sec2_mobile_left,
    .sec2_mobile_right {
        display: block;
    }
    .sec1_mobile_left{top: 0;}
    .sec1_mobile_right{top: 50%;}
    .sec1_mobile_left>img,
    .sec1_mobile_right>img,
    .sec2_mobile_left>img,
    .sec2_mobile_right>img{
        width: 100%;
    }
    .sec1_mobile_right>img,
    .sec2_mobile_left>img{position: absolute;
    }
    .sec2_mobile_left {
        top: 100%;
    }
    .sec2_mobile_right {
        top: 150%;
    }
    .sec1_text_con,
    .sec2_text_con {
        position: absolute;
        width: 100%;
        max-width: 1200px;
        height: 30%;
        top: 50%;
        transform: translateY(-50%);
        transition: 1s;
        opacity: 0;
    }
    .sec2_text_con{
        transition: 2s;
    }
    .sec1_text,
    .sec2_text {
        color: white;
        font-size: 3rem;
        margin: 50px 0;
        font-family: 'BankGothic Lt BT', sans-serif;
        text-align: center;
        letter-spacing: 10px;
    }
    .sec1_text1,
    .sec2_text1 {
        bottom: 0;
    }
    .sec1_text2,
    .sec2_text2 {
        bottom: 0;
    }
    .color_con {
        width:40%;  
    }
    .sec4_left_top>div {
        width: 15%;      
    }
    /* 섹션 3 */
    .sec3_left{
        width: 100%;
        height: 50%;
      }
      .sec3_right {
        width: 100%;
        height: 50%;
        top: 100%;
        transform: translateY(-100%);
    }
    .sec3>article h1{
        /* border: 1px solid red; */
        top: 0;
    }
    .color_con4{width: 30% !important; }
    .model-drag-content-area {
      height: 50vh;
    }
    
    .isFull{
      width: 80%;
      height: auto;
      top: 70%;
  }
  
  .mobile{
    display: block !important;
  }
  .drag-bar img {
    height: 53vh !important;
    max-width: none;

  }
  
  .drag-bar {
   position: absolute;
   top: 0;
   width: auto;
   height: 100%;
   margin-left: 0!important;
   margin-top: -9px !important;
   z-index: 40;
 }
.drag-wrap{
   display: none;
}
.car-hide>img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
 
 
  
  /* 섹션3 */
  /* 섹션4 */
  .sec4_right {
      display: none;
    background-image: none;

}
.sec4_left{
    width: 100%;
}

}



/* 모바일 버전 */